<div class="row">
    <div class="col col-12 col-sm st-module">
        <st-big-number :number="t" title="Time"></st-big-number>
    </div>
    <div class="col col-12 col-sm st-module">
        <h6>End time</h6>
        <q-input label="" v-model="t_end" style="margin-top:-10%"></q-input>
    </div>
    <div class="col col-12 col-sm st-module">
        <h6 v-katex="'\\sigma'"></h6>
        <q-slider :min="1" v-model="σ" label="" :max="19" :step="2"></q-slider>
    </div>
    <div class="col col-12 col-sm st-module">
        <h6 v-katex="'\\rho'"></h6>
        <q-slider :min="10" v-model="ρ" label="" :max="40" :step="2"></q-slider>
    </div>
    <div class="col col-12 col-sm st-module">
        <h6 v-katex="'\\beta'"></h6>
        <q-slider :min="1" v-model="β" label="" :max="19" :step="2"></q-slider>
    </div>
    <div class="col col-12 col-sm st-module">
        <h6>Time step</h6>
        <q-slider :min="0.0" v-model="t_step" label="" :max="0.1" :step="0.01"></q-slider>
    </div><button v-on:click="start = !start">Start!</button>
</div>
<div class="row">
    <div class="col col-12 col-sm st-module">
        <plotly :data="solplot" :layout="layout" :displaylogo="false"></plotly>
    </div>
    <div class="col col-12 col-sm st-module">
        <div v-katex:display="' \\text{\\large Lorenz equations} \\\\ \\dot{x}  = \\sigma(y-x) \\\\ \\dot{y}  = \\rho x - y - xz \\\\ \\dot{z}  = -\\beta z + xy '" id="i27co" class="col col-12 col-sm" style="font-size:20px;text-align:center;padding-top:50px"></div>
        <div id="i42o5" class="col col-12 col-sm" style="font-size:20px;padding-top:10px">The Lorenz equations relate the properties of a two-dimensional fluid layer uniformly warmed from below and cooled from above. In particular, the equations describe the rate of change of three quantities with respect to time: <span v-katex="{&quot;expression&quot;:&quot;x&quot;}"></span> is proportional to the rate of convection, <span v-katex="{&quot;expression&quot;:&quot;y&quot;}"></span> to the horizontal temperature variation, and <span v-katex="{&quot;expression&quot;:&quot;z&quot;}"></span> to the vertical temperature variation.</div>
    </div>
</div>

